<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <header>
         <nav>
            <% include ../partials/nav %>
         </nav>
      </header>
      <main>
         <h2>Create a new system</h2>
         <form class="new-system" action="/systems" method="post">
            <label>Name:</label> <input type="text" name="name" value="*required*"><br/>
            <label>Brand:</label> <input type="text" name="brand" value=""><br/>
            <label>Release Date:</label> <input type="text" name="releaseDate" value=""><br/>
            <label>Logo:</label> <input type="text" name="logo" value="*required*"><br/>
            <label>Image:</label> <input type="text" name="img" value="*required*"><br/>
            <input type="submit" name="" value="Create System">
         </form>
         <img class="master-chief" src="https://2.bp.blogspot.com/-MBq7Ldi124U/VGIt1uM0h5I/AAAAAAAAAT8/yp9bV-d_wPc/s1600/master%2Bchief%2Btransparent.png" alt="">
      </main>
   </body>
</html>
