<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <nav>
         <% include ../partials/nav %>
      </nav>
      <main>
         <a href="/"><h2>🔙</h2></a>
         <h1>List of systems</h1>
         <ul>
            <% for(var i = 0; i < systemsArr.length; i++){ %>
               <li>
                  <a href="/systems/<%=systemsArr[i]._id;%>"><img src="<%=systemsArr[i].img;%>" alt=""><br/>
                     <%=systemsArr[i].name%>
                  </a>
               </li>
            <% } %>
         </ul>
         <a href="/systems/new">Add another system</a>
      </main>
   </body>
</html>
