<!DOCTYPE html>
<html>
   <head>
      <% include ../partials/head %>
   </head>
   <body>
      <nav>
         <% include ../partials/nav %>
      </nav>
      <main>
         <h1>List of systems</h1>
         <a href="/systems/new">Add another system</a>
         <ul>
            <% for(var i = 0; i < systemsArr.length; i++){ %>
               <li class="listed-items">
                  <a href="/systems/<%=systemsArr[i]._id;%>"><img  class="systems-index" src="<%=systemsArr[i].img;%>" alt=""><br/>
                     <%=systemsArr[i].name%>
                  </a>
               </li>
            <% } %>
         </ul>

      </main>
   </body>
</html>
