<meta charset="utf-8">
<title>NERDY GERDY'S GAMES</title>
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css?family=Audiowide|Concert+One|Orbitron|Rubik+Mono+One|Russo+One|Varela+Round" rel="stylesheet">
