
<div class="pages">
   <a id="title" href="/"><h1>NERDY GERDY'S <span id="title-span">GAMES</span></h1></a>
   <h3 id="slogan">A <span id="title-span">NERDY</span> way to keep track of your favorite <span id="slogan-span">GAMES</span>!</h3>
   <a class="page-links" href="/systems">Systems</a>
   <a class="page-links" href="/games">Games</a>
</div>
