<!DOCTYPE html>
<html>
   <head>
      <% include ../views/partials/head %>
   </head>
   <body>
      <header>
         <nav>
            <% include ../views/partials/nav %>
         </nav>
      </header>
      <main class="index-main">
         <div class="systems">
            <div class="index-img">
               <a href="/systems"><img src="https://images.apester.com/user-images%2F80%2F80af885dc9f4db4f07b015ed35d52beb.jpg/undefined/undefined/undefined" alt="systems"></a>
            </div>
            <div class="index-txt">
               <h3>Systems</h3>
               <a href="/systems/new">Add a new system</a>
            </div>
         </div>
         <div class="games">
            <div class="game-txt">
               <h3>  Games  </h3>
               <a id="add-a-game-txt" href="/games/new">Add a new Game</a>
            </div>
            <div class="index-img">
               <a href="/games"><img src="http://thetechsource.info/wp-content/uploads/2015/05/droids_8afcf.jpg" alt="games"></a><br>

            </div>
         </div>
      </main>
   </body>
</html>
