<!DOCTYPE html>
<html>
   <head>
      <% include ../views/partials/head %>
   </head>
   <body>
      <header>
         <nav>
            <% include ../views/partials/nav %>
         </nav>
      </header>
      <main class="index-main">
         <h3>Systems</h3>
         <a href="/systems"><img src="http://www.pixelsdecibles.com/wp-content/uploads/2016/07/consoles.jpg" alt="systems"></a>
         <h3>Games</h3>
         <a href="/games"><img src="http://icdn2.digitaltrends.com/image/used-games-gamestop-1200x630-c.jpg" alt="games"></a>
      </main>
   </body>
</html>
