nav {
   position: fixed;
   background-color: #1d1c28;
   color: white;
   height: 6em;
   font-family: 'Audiowide', cursive;
   width: 100%;
   top: 0;
   left: 0;
}
body{
   margin-top: 6em;
   background-color: #36373e;
   color: silver;
   text-align: center;
   font-family: 'Audiowide', cursive;
}
h1{
   margin: 0;
   font-size: 2em;
}

/*img{
   width: 100%;
   margin: 0;
}*/

a {
   color: green;
}

.systems{
   display: flex;
   justify-content: space-between;;
   /*height: 100%;*/
   align-items: center;
   background: #b77021;
   box-shadow: inset 0 -5px #36373e;
}
.games{
   display: flex;
   justify-content: space-between;
   /*align-items: center;*/
   background: green;
   box-shadow: inset 0 -5px #36373e;
   height: auto;
}

.index-img{
    height: auto;
    margin-left: 0;
    width: 75%;
}
.pages > a{
   color: green;
}
.logo{
   width: 15%;
   border-radius: 10px;
}
.systems-index{
   width: 75%;
}

.system-txt{
   width: 25%;
}

.listed-items{
   padding-bottom: 1em;
}

.index-txt{
   /*display: block;*/
   width: 25%;
   /*height: 100%;*/
   align-self: center;
   /*background-color: ##b77021;*/
}
.index-txt > h3{
   font-size: 3em;
   color:#1d1c28;
}

.game-txt{
   /*display: block;*/
   width: 25%;
   /*height: 100%;*/
   align-self: center;
}
.game-txt > h3 {
   color: #1d1c28;
   font-size: 3em;
}

#title-span {
   color: #b77021;
}
#title{
   text-decoration: none;
}
#slogan{
   color: silver;
   margin: 0;
}
#slogan-span{
   color: green;
}

#add-a-game-txt{
   color: #b77021;
}

.page-links{
   padding: 0 3%;
}

.stats {
    text-align: left;
}

.logo-n-name{
   text-align: left;
}

.system-show-img{
width: 75%;
}

li {
   list-style: none;
}
