nav {
   background-color: #1d1c28;
   color: white;
   height: 6em;
   font-family: 'Audiowide', cursive;
}
body{
   background-color: #36373e;
   color: silver;
   text-align: center;
}
h1{
   margin: 0;
   font-size: 2em;
}
.index-main img {
    width: 75%;
}
.pages > a{
   color: green;
}
.logo{
   width: 15%;
   border-radius: 10px;
}
#title-span {
   color: #ca9e6a;
}
#title{
   text-decoration: none;
}
#slogan{
   color: silver;
   margin: 0;
}
#slogan-span{
   color: green;
}
.page-links{
   padding: 0 3%;
}
